{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{#{% block navbar %}#}
{#{% endblock navbar %}#}

{% block body_tag %}
<body class="login-page">
{% endblock body_tag %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <div class="content-module-wrapper top-border-lime"></div>
            <div class="content-module content-module-padding">
                <h3>Welcome to GS1 Link</h3>
                <p class="small">
                    The GS1 Link is a portal that act as a meeting place for our members and students across Australia. It allows students to create profiles and upload CVs, for our members to view and get in contact with students whom they are interested in.
                    <br>
                </p>
                <hr>
                <h4>Getting started</h4>
                <p class="small">
                    Once you’ve registered for an account, log in and start using this portal.
                    <br>
                    <b>Students:</b><br>
                    Step 1 – Create your profile by entering your details.<br>
                    Step 2 – Briefly introduce yourself in the About Me section.<br>
                    Step 3 – Upload your certifications and CV.<br>
                    Step 4 – Submit your profile.<br>
                    <b>Members:</b><br>
                    Step 1 – Start searching students by name, or through the use of filters.<br>
                    Step 2 – Click on the student name to expand his/her profile.<br>
                    Step 3 – Click the + button to save the student to Shortlist.<br>
                    Step 4 – Export your Shortlist.<br>
                    Step 5 – Contact the students at will.
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <div class="content-module-wrapper top-border-orange">
                <div class="content-module content-module-padding">
                    <h4>Login</h4>
                    <div class="container-fluid">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <div class="form-group">
                                <label for="username">Email address</label>
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="Password" />

                                <br>
                                <label>
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    Remember me
                                </label>
                                <br>
                                <input class="btn btn-primary btn-margin btn-sm" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                            </div>
                            <div class="form-group">
                                <a href="{{ path('fos_user_registration_register') }}" class="label-sm">Need an account?</a>
                                <br>
                                <a href="{{ path('fos_user_resetting_request') }}" class="">Forgotten password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
