{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block head_style %}
    {% stylesheets filter='cssrewrite,less' output='assets/css/main.css'
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        '@AppWebBundle/Resources/public/css/bootstrap-theme.css'
        '@AppWebBundle/Resources/public/css/bootstrap-accessibility.min.css'
        '@AppWebBundle/Resources/public/less/main.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    {% if diagnostic_mode %}
        <link href="{{ asset('bundles/mopabootstrap/css/diagnostic.css') }}" type="text/css" rel="stylesheet" media="screen" />
    {% endif %}
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:500' rel='stylesheet' type='text/css'>
{% endblock head_style %}

{% block navbar %}
    <div class="toolkit brand-home header-short">

        <header class="headroom headroom--pinned headroom--top">
            <div class="header-top">
                <div class="container">
                    <div class="logo">
                        <div class="logo1">
                            <a href="/index.html">
                                <img src="/assets/images/logo.png" alt="GS1 Australia" height="72" width="127" border="0">
                            </a>
                            <p class="large hidden-xs hidden-sm"><span style="padding-bottom: 25px; color: rgb(0, 44, 108); font-size: 25px; font-weight: bold;">Savings Calculator</span></p>
                        </div>
                    </div>
                    <div class="secondary-nav">
                        <ul class="list-inline">
                            <li><a href="http://www.gs1au.org/" target="_blank">GS1 Australia Home</a></li>
                            <li><a href="http://www.gs1express.com.au/barcodes/" target="_blank">Get a barcode</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navigation">
                <div class="container">
                    <nav class="navbar yamm navbar-default" role="navigation">
                        <div class="navbar-header">
                            <div class="logo1 visible-xs">
                                <a href="/index.html">
                                    <img src="/Assets/logo.png" alt="GS1 Australia" height="72" width="127" border="0">
                                </a>
                            </div>
                            <button id="ui-collapse-144" aria-expanded="false" aria-selected="false" role="tab" type="button" data-toggle="collapse" data-target="#navbar-collapse-example" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>

                        </div>
                        <div id="navbar-collapse-example" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="">
                                    <a class="" href="http://www.gs1au.org/membership/">Membership</a>
                                </li>
                                <li class="">
                                    <a class="" href="http://www.gs1au.org/products/index.asp">Standards</a>
                                </li>
                                <li class="">
                                    <a class="" href="http://www.gs1au.org/services/">Services</a>
                                </li>
                                <li class="">
                                    <a class="" href="http://www.gs1au.org/industry/">Industry</a>
                                </li>
                                <li class="">
                                    <a class="" href="http://www.gs1express.com.au/barcodes/">Join GS1</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>


    </div>

{% endblock navbar %}



{% block container %}
    <div class="{% block container_class %}container{% endblock container_class %} toolkit">
    {% block header %}
    {% endblock header %}
        <div class="content">
            {% block flashes %}
                {% if app.session.flashbag.peekAll|length > 0 %}
                    <div class="row">
                        <div class="col-sm-12">
                            {{ session_flash() }}
                        </div>
                    </div>
                {% endif %}
            {% endblock flashes %}

            {% block content %}
            {% endblock content %}
        </div>

        <footer>
        {% block footer %}
        {% endblock footer %}
        </footer>
    </div>
{% endblock container %}

{% block foot_script_assetic %}
    {% javascripts output='assets/js/main.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}

{% block foot_script %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}