{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block head_style %}
    {% stylesheets filter='cssrewrite,less' output='assets/css/main.css'
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        '@AppWebBundle/Resources/public/less/main.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    {% if diagnostic_mode %}
        <link href="{{ asset('bundles/mopabootstrap/css/diagnostic.css') }}" type="text/css" rel="stylesheet" media="screen" />
    {% endif %}
{% endblock head_style %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false, inverse: true, id: 'navbar' } %}
        {% block brand %}
            <a class="navbar-brand" href="">GS1: Post Your CV</a>
        {% endblock %}

        {% block menu %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url('fos_user_security_logout') }}">Logout</a></li>
            </ul>
        {% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block container %}
    <div class="{% block container_class %}container{% endblock container_class %}">
    {% block header %}
    {% endblock header %}
        <div class="content">
            {% block flashes %}
                {% if app.session.flashbag.peekAll|length > 0 %}
                    <div class="row">
                        <div class="col-sm-12">
                            {{ session_flash() }}
                        </div>
                    </div>
                {% endif %}
            {% endblock flashes %}

            {% block content %}
            {% endblock content %}
        </div>

        <footer>
        {% block footer %}
        {% endblock footer %}
        </footer>
    </div>
{% endblock container %}

{% block foot_script_assetic %}
    {% javascripts output='assets/js/main.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}

{% block foot_script %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}