{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block head %}
    {% spaceless %}
    {{ parent() }}
    {% endspaceless %}
{% endblock head %}

{% block head_style %}
    {% stylesheets filter='cssrewrite,less,?uglifycss' output='assets/css/main.css'
        'bundles/mopabootstrap/less/mopabootstrapbundle.less'
        'bundles/appweb/css/bootstrap-theme.css'
        'bundles/appweb/css/bootstrap-accessibility.min.css'
        'bundles/appweb/css/select2.css'
        'bundles/appweb/css/bootstrap-datepicker3.css'
        'bundles/appweb/less/main.less'
        'bundles/appweb/css/gotham-font.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    {% stylesheets filter='cssrewrite,less,?uglifycss' output='assets/css/print.css'
    '@AppWebBundle/Resources/public/less/print.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="print" />
    {% endstylesheets %}


    {% if diagnostic_mode %}
        <link href="{{ asset('bundles/mopabootstrap/css/diagnostic.css') }}" type="text/css" rel="stylesheet" media="screen" />
    {% endif %}
{% endblock head_style %}

{% block head_script %}
    {#<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>#}
{% endblock head_script %}

{% block navbar %}
    {% include '::navigation.html.twig' %}
{% endblock navbar %}

{% block container %}
{% spaceless %}
    <div class="{% block container_class %}container{% endblock container_class %} toolkit">
    {% block header %}
    {% endblock header %}
        <div class="content">
            {% block flashes %}
                {% if app.session.flashbag.peekAll|length > 0 %}
                    <div class="row">
                        <div class="col-sm-12">
                            {{ session_flash() }}
                        </div>
                    </div>
                {% endif %}
            {% endblock flashes %}

            {% block content %}
            {% endblock content %}
        </div>
    </div>

    {% block footer %}
        {% include '::footer.html.twig' %}
    {% endblock footer %}
{% endspaceless %}
{% endblock container %}

{% block foot_script_assetic %}
    {% javascripts output='assets/js/main.js' filter='?uglifyjs2'
        '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@AppWebBundle/Resources/public/js/select2.js'
        '@AppWebBundle/Resources/public/js/bootstrap-datepicker.js'
        '@AppWebBundle/Resources/public/js/main.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}

{% block foot_script %}
    {{ parent() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Source+Code+Pro:500:latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();

        $('document').ready(function () {
            $('.date-picker').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                autoclose: true
            });
        });
    </script>
{% endblock %}