{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_tag %}
<body class="register-page">
{% endblock body_tag %}

{% block content %}
<div class="row toolkit">
    <div class=" col-sm-8 col-sm-offset-2">
        <div class="content-module-wrapper top-border-lime">
            <div class="content-module content-module-padding">
                <h3>Registration</h3>
                <form class="form-horizontal" novalidate action="{{ path("fos_user_registration_register") }}" {{ form_enctype(form) }} method="POST" role="form">
                    {{ form_errors(form.type) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}

                    <div id="dynamic_form">
                        {% if form.studentProfile is defined %}
                            {{ form_widget(form.studentProfile) }}
                        {% endif %}
                        {% if form.memberProfile is defined %}
                            {{ form_widget(form.memberProfile) }}
                        {% endif %}
                    </div>

                    <div class="form-group {% if form.toc.vars.errors | length > 0 %}has-error{% endif %}">
                        <label class="control-label col-sm-3">
                        </label>
                        <div class="col-sm-9">
                            {{ form_widget(form.toc) }}
                            {{ form_errors(form.toc) }}
                        </div>
                    </div>

                    {{ form_rest(form) }}
                    <div class="row">
                        <div class="col-xs-8">
                            <a class="btn btn-sm btn-info" href="{{ path('fos_user_security_login') }}">Already have an account?</a>
                        </div>
                        <div class="col-xs-4">
                            <input class="btn btn-primary btn-block btn-flat" type="submit" value="{{ 'registration.submit'|trans }}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="tocModal" class="modal fade printable" role="dialog">
        <div class="modal-dialog modal-lg content-module">
            {% set tcContent = cms_content_get('terms_conditions') %}
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">{{ tcContent.title }}</h3>
                </div>
                <div id="TC" class="modal-body">
                    {{ tcContent.body | raw  }}
                </div>
                <div class="modal-footer">
                    <button class="btn-primary" onclick="window.print();">Print</button>
                    <a class="btn-primary" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block foot_script %}
{{ parent() }}
<script>
    var $type = $('.account_type');
    $type.change(function() {
        var $form = $(this).closest('form');
        var data = {};
        data[$type.attr('name')] = $type.val();
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : data,
            success: function(html) {
                var $dynamicForm = $(html).find('#dynamic_form');
                $dynamicForm.children(".form-group").each(function (index, item){
                    var $item = $(item)
                    $item.removeClass('has-error');
                    $item.find(".help-block").remove();
                });
                $('#dynamic_form').replaceWith($dynamicForm);
            }
        });
    });

    var $tocBtn = $('#toc');
    $tocBtn.click(function(e){
        e.preventDefault();
        $('#tocModal').modal();
    });
</script>
{% endblock %}