{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">

        {{ form_start(form, {'action': path('student_profile_edit', {'id':user.id}),'method': 'POST','attr': {'class':'well form-horizontal'}}) }}

        {% set fullnameError = form.firstName.vars.errors | length > 0 or form.lastName.vars.errors | length > 0 %}
        <div class="form-group {% if fullnameError %}has-error{% endif %}">
            <label for="student_profile_firstName" class="control-label col-sm-3 required">
                Full name
            </label>
            <div class="row col-sm-9">
                <div class="col-sm-4 ">{{ form_widget(form.firstName) }}{{ form_errors(form.firstName) }}</div>
                <div class="col-sm-4 ">{{ form_widget(form.lastName) }}{{ form_errors(form.lastName) }}</div>
            </div>
        </div>

        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    {{ form_errors(form) }}
{% endblock %}