{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">

        {{ form_start(form, {'action': path('student_profile_edit', {'id':user.id}),'method': 'POST','attr': {'class':'well form-horizontal'}}) }}

        {% set fullnameError = form.firstName.vars.errors | length > 0 or form.lastName.vars.errors | length > 0 %}
        <div class="form-group {% if fullnameError %}has-error{% endif %}">
            <label for="student_profile_firstName" class="control-label col-sm-3 required">
                Full name
            </label>
            <div class="row col-sm-9">
                <div class="col-sm-4 ">{{ form_widget(form.firstName) }}{{ form_errors(form.firstName) }}</div>
                <div class="col-sm-4 ">{{ form_widget(form.lastName) }}{{ form_errors(form.lastName) }}</div>
            </div>
        </div>

        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    {{ form_errors(form) }}
{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite,less' output='assets/css/student-profile-edit.css'
    '@AppWebBundle/Resources/public/css/select2.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block foot_script_assetic %}
    {{ parent() }}
    {% javascripts output='assets/js/student-profile-edit.js'
    '@AppWebBundle/Resources/public/js/select2.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}

{% block foot_script %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            // init select2
            $('select').width('98%').select2();

            // apply select 2 for newly added collection item
            $(window).on('add.mopa-collection-item', function(event, collection, row) {
                $(row).find('select').each(function(index, item){
                    $(item).width('98%').select2();
                });
            })
        });
    </script>
{% endblock %}