{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {{ wo_render_breadcrumbs() }}
        </div>
        <form action="{{ path(app.request.get('_route')) }}" method="GET">
            <div class="col-sm-4 col-md-3">
                <div class="content-module-wrapper top-border-lime">
                    <div class="content-module content-module-padding">
                        <div class="panel">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#navigation">
                                    Navigation
                                </a>
                            </h4>

                            <div id="navigation" class="panel-collapse collapse in">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation" class="active"><a href="#">Student Search</a></li>
                                    <li role="presentation"><a href="{{ path('shortlist') }}">Shortlist</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel">
                            <h4 class="panel-title">
                                <a class="{% if filter.data.empty %}collapsed{% endif %}" data-toggle="collapse"
                                   data-target="#filters">
                                    Filters
                                </a>
                            </h4>

                            <div id="filters"
                                 class="panel-collapse collapse {% if not filter.data.empty %}in{% endif %}">
                                {{ form_row(filter.form.industry) }}
                                {{ form_row(filter.form.gs1Certification) }}
                                {{ form_row(filter.form.employmentStatus) }}
                                {{ form_row(filter.form.country) }}
                                {{ form_row(filter.form.institution) }}
                                {{ form_row(filter.form.workingRight) }}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-8 col-md-9">
                <div class="content-module-wrapper top-border-orange">
                    <div class="content-module content-module-padding">
                        <div class="well input-group">
                            {{ form_widget (filter.form.keyword) }}
                            <span class="input-group-btn">
                            <input class="btn btn-form-item btn-default" value="Search" type="submit"/>
                        </span>
                        </div>
                        {% for profile in profiles %}
                            {% set studentProfileUrl = path('student_profile_show', {'id': profile.user.id, 'ref': 'search'}) %}
                            <div class="list-group">
                                <div class="list-group-item">
                                    <div class="media">
                                        <a class="media-left media-middle"
                                           href="{{ studentProfileUrl }}">
                                            {% if profile.avatar != null and profile.avatar.fileName != "" %}
                                                <img class="media-object student-avatar"
                                                     src="{{ vich_uploader_asset(profile.avatar, 'file', 'App\\ResumeBundle\\Entity\\StudentAvatar') }}"
                                                     alt="{{ profile.user.firstName }} {{ profile.user.lastName }}">
                                            {% else %}
                                                <img class="media-object student-avatar"
                                                     src="{{ asset('assets/images/blank-avatar.gif') }}"
                                                     alt="{{ profile.user.firstName }} {{ profile.user.lastName }}">
                                            {% endif %}
                                        </a>

                                        <a class="media-body" style="color: #333"
                                           href="{{ studentProfileUrl }}">
                                            <h4 class="list-group-item-heading">{{ profile.user.firstName }} {{ profile.user.lastName }}</h4>

                                            <p class="list-group-item-text small">{{ profile.headline }}</p>
                                        </a>
                                        {% set redirectUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                                        <div class="media-right media-middle">
                                            <a class="btn btn-sm btn-info"
                                               href="{{ path('shortlist_add', {'studentId': profile.user.id, 'redirect': redirectUrl}) }}">
                                                {{ mopa_bootstrap_icon('plus') }} Shortlist
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="navigation">
                            {{ knp_pagination_render(profiles) }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            // init select2
            $('select').css('width', '100%').select2();
        });
    </script>
{% endblock %}