{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {{ wo_render_breadcrumbs() }}
        </div>
    </div>
    <div class="content-module-wrapper top-border-orange">
        <div class="content-module content-module-padding">

            <div class="row">
                <div class="col-sm-9">
                    {% if user.studentProfile.avatar != null and user.studentProfile.avatar.fileName != "" %}
                        <img class="media-object student-avatar"
                             src="{{ vich_uploader_asset(user.studentProfile.avatar, 'file') }}"
                             alt="{{ user.studentProfile.firstName }} {{ user.studentProfile.lastName }}">
                    {% else %}
                        <img class="media-object student-avatar"
                             src="{{ asset('assets/images/blank-avatar.gif') }}"
                             alt="{{ user.studentProfile.firstName }} {{ user.studentProfile.lastName }}">
                    {% endif %}
                    <br>
                </div>


                <div class="col-sm-3">
                    <br>
                    {% set redirectUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                    <div class="media-right media-middle pull-right">
                        <a class="btn btn-sm btn-info"
                           href="{{ path('shortlist_add', {'studentId': user.studentProfile.user.id, 'redirect': redirectUrl}) }}">
                            {{ mopa_bootstrap_icon('plus') }} Shortlist
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="control-label col-sm-3">
                    Full name
                </label>

                <div class="col-sm-9">
                    {{ user.studentProfile.firstName | title }} {{ user.studentProfile.lastName |title }}
                </div>
            </div>
            <div class="row">
                <label class="control-label col-sm-3">
                    Occupation
                </label>

                <div class="col-sm-9">
                    {{ user.studentProfile.headline }}
                </div>
            </div>
            <div class="row">
                <label class="control-label col-sm-3">
                    About me
                </label>

                <div class="col-sm-9">
                    {{ user.studentProfile.about }}
                </div>
            </div>

            {% if user.studentProfile.educations | length > 0 %}
                <div class="row">
                    <label class="control-label col-sm-3">
                        Educations
                    </label>

                    <div class="col-sm-9">
                            {% for edu in user.studentProfile.educations %}
                                {% if edu.institution  %}{{ edu.institution.name }}{% else %}{{ edu.otherInstitution }}{% endif %}: {{ edu.degree }}<br>
                            {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <label class="control-label col-sm-3">
                    Availability
                </label>

                <div class="col-sm-9">
                    {#{{ user.studentProfile.availabilityStatus ? 'Yes' : 'No' }}#}
                </div>
            </div>

            <div class="row">
                <label class="control-label col-sm-3">
                    Contact email
                </label>

                <div class="col-sm-9">
                    {% set contactEmail = user.studentProfile.contactEmail %}
                    <a href="mailto:{{ contactEmail }}">{{ contactEmail }}</a>
                </div>
            </div>
            <div class="row">
                <label class="control-label col-sm-3">
                    Contact number
                </label>

                <div class="col-sm-9">
                    {% if user.studentProfile.contactNumber is not null %}
                        {% set phone = phone_number_format(user.studentProfile.contactNumber, 'NATIONAL') %}
                        {% set phoneRaw = phone_number_format(user.studentProfile.contactNumber, 'E164') %}
                        <a href="tel:{{ phoneRaw }}">{{ phone }}</a>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <label class="control-label col-sm-3">
                    Country (residence)
                </label>

                <div class="col-sm-9">
                    {{ user.studentProfile.country | countryName }}
                </div>
            </div>
            <div class="row">
                <label class="control-label col-sm-3">
                    State (residence)
                </label>

                <div class="col-sm-9">
                    {{ user.studentProfile.state |title }}
                </div>
            </div>
            <div class="row">
                <label class="control-label col-sm-3">
                    City (residence)
                </label>

                <div class="col-sm-9">
                    {{ user.studentProfile.city |title }}
                </div>
            </div>

            <div class="row">
                <label class="control-label col-sm-3">
                    Employment status
                </label>

                <div class="col-sm-9">
                    {{ user.studentProfile.employmentStatus |title }}
                </div>
            </div>

            <div class="row">
                <label class="control-label col-sm-3">
                    Working right in Australia
                </label>

                <div class="col-sm-9">
                    {{ user.studentProfile.workingRight ? 'Yes' : 'No' }}
                </div>
            </div>

            {% if user.studentProfile.gs1Certifications | length > 0 %}
                <div class="row">
                    <label class="control-label col-sm-3">
                        GS1 Certifications
                    </label>

                    <div class="col-sm-9">
                            {% for file in user.studentProfile.gs1Certifications %}
                                <a target="_blank" href="{{ vich_uploader_asset(file,'file') }}">Download</a><br>
                            {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if user.studentProfile.certifications | length > 0 %}
                <div class="row">
                    <label class="control-label col-sm-3">
                        Certifications
                    </label>

                    <div class="col-sm-9">
                            {% for file in user.studentProfile.certifications %}
                                <a target="_blank" href="{{ vich_uploader_asset(file,'file') }}">{{ file.name }}</a><br>
                            {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if user.studentProfile.resume != null and user.studentProfile.resume.fileName != "" %}
                <div class="row">
                    <label class="control-label col-sm-3">
                        Resume
                    </label>

                    <div class="col-sm-9">
                        <a target="_blank" href="{{ vich_uploader_asset(user.studentProfile.resume, 'file') }}">Download</a>
                    </div>
                </div>
            {% endif %}

            {% if user.studentProfile.socialNetworks | length > 0 %}
                <div class="row">
                    <label class="control-label col-sm-3">
                        Social network
                    </label>

                    <div class="col-sm-9">
                            {% for link in user.studentProfile.socialNetworks %}
                                <a href="{{ link.url }}">{{ link.type }}</a><br>
                            {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <label class="control-label col-sm-3">
                    Industry preference
                </label>

                <div class="col-sm-9">
                    {% for name in user.studentProfile.industryPreference %}
                        {{ name }}<br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}